:root{
  --clr-black: #2A2C31;
  --clr-grey: #384257;
  --clr-white: #F4F9FF;
  --clr-blue: #2393FA;
  --ff-primary: 'Comfortaa', cursive;
}
*{
  margin: 0;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--clr-black);
  font-family: var(--ff-primary);
  color: var(--clr-white);
}
body, html, .root{
  height:100%;
}